<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <nav>
      <a class="logo" href="/">BASIC BOILDERPLATE INDEX</a>

      <% if(!user){ %>

        <li><a class="login"href="/signup">signup</a></li>
        <li><a class="login"href="/login"> login</a></li>

      <% }else{ %>
        <li><a class="login"href="/logout">logout</a></li>

      <% } %>
    </nav>

    <%- body -%>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="javascripts/main.js"></script>
  </body>
</html>
