<form action="/login" method="POST">
  <div class="field">
    <label for="username">username:</label><br><br>
    <input class="boxtext" type="text" name="username">
  </div>
  <div class="field">
    <label for="password">password:</label><br><br>
    <input class="boxtext" type="password" name="password">
  </div>
  <% if (typeof message != "undefined") { %>
  <div class="error-message">
    <%= message %>
  </div>
  <% } %>
  <div id="create">
    <input type="submit" value="Log In">
  </div>
  <div class="check-login">
    <p class="account-message">
      You do not have an account?
      <a class="click" href="/signup">Create</a>
    </p>
  </div>
</form>
